/* =============================================================================
   HTML5 Boilerplate CSS: h5bp.com/css
   ========================================================================== */

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

::-moz-selection { background: #3FAAFF; color: #fff; text-shadow: none; }
::selection { background: #3FAAFF; color: #fff; text-shadow: none; }

a { color: #00e; }
a:visited { color: #551a8b; }
a:hover { color: #06e; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }

svg:not(:root) { overflow: hidden; }

figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
button[disabled], input[disabled] { cursor: default; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }

.chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }

ul, li {
  margin:0;
  padding:0;
  list-style-type:none;
}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/* ===== Primary Styles ========================================================
   Author: Francis Tseng (yadonchow.com / @yadonchow)
   ========================================================================== */

$primaryBg: #30313e;
$inputBg: lighten( $primaryBg, 80% );
$primaryHover: darken( $primaryBg, 10% );
$primaryBorder: $primaryHover;
$primaryColor: #fff;
$primaryInactive: lighten( $primaryBg, 20% );

$link: #3FAAFF;
$linkHover: #FF3F3F;
$secondary: #FF3F3F;

body {
  background: $primaryBg;
  color: $primaryColor;
  font-family: 'Gibson', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}

header {
	padding:2em;
	background:$secondary;
	overflow:hidden;
	position:relative;

	-webkit-box-shadow:inset 0 -2px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:inset 0 -2px 6px rgba(0,0,0,0.4);
	box-shadow:inset 0 -2px 6px rgba(0,0,0,0.4);
}
	header a,
	header a:visited {
		color:#fff;
	}

.main {
	border-top:1px solid #555;
}

.content {
	width:100%;
	max-width:680px;
	padding:2em 0;
	margin:0 auto;
}

h1 {
	text-shadow:1px 1px #FF3F3F, 2px 2px #30313E;
	margin:0;
	line-height:0.8;
	float:left;
	font-family:'Comalle';

	a:hover {
		text-shadow:1px 1px $link;
	}

}

h2 {
	font-family:'Comalle';
	text-align:center;
	font-size: 2.4em;
	text-shadow:1px 1px #30313E, 2px 2px #FF3F3F;

	a, a:visited {
		color:#fff;

		-moz-transition: all 0.2s ease-in-out; 
		  -webkit-transition: all 0.2s ease-in-out;  
		  -ms-transition: all 0.2s ease-in-out;  
		  -o-transition: all 0.2s ease-in-out;  
		  transition: all 0.2s ease-in-out;

		&:hover {
			color:$link;
		}
	}
}

h3 {
	font-size:2.4em;
}

h4 {
	font-size:1.4em;
	margin:0;
	color:$link;
	text-shadow:1px 1px #fff;

	span {
		color:#888;
		font-size:0.6em;
		font-weight:normal;
	}
}

h6 {
	text-transform:uppercase;
	margin:0;
	text-shadow:1px 1px #fff;
}

a {
	color:$link;
	text-decoration:none;
	&:visited {
		color:$link;
	};
	&:hover {
		color:$linkHover;
	};
}

.search {
	position:absolute;
	right:18em;
	margin-top:0.6em;

	button {
		background:$primaryBg;
		border:none;

		&:hover {
			background:$link;
		}
	}

	#search {
		display:inline !important;
		border:none;

		-webkit-border-radius:0.3em;
		-moz-border-radius:0.3em;
		border-radius:0.3em;
	}
}

.nav {
	position:absolute;
	right:0;
	bottom:0;
	margin-right:2em;
}
	.nav li {
		float:left;
		margin:0 0 0 1px;
		padding:1em;
		background:$primaryBg;
		cursor:pointer;
		position:relative;

		height:56px;

		-webkit-box-shadow:inset 0px -2px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0,0,0,0.2);
		-moz-box-shadow:inset 0px -2px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0,0,0,0.2);
		box-shadow:inset 0px -2px 2px rgba(0, 0, 0, 0.2), 2px 2px 5px rgba(0,0,0,0.2);

		-moz-transition: all 0.2s ease-in-out; 
	  -webkit-transition: all 0.2s ease-in-out;  
	  -ms-transition: all 0.2s ease-in-out;  
	  -o-transition: all 0.2s ease-in-out;  
	  transition: all 0.2s ease-in-out;

		&:hover {
			background:$link;
		}

		h5 {
			position:absolute;
			margin:0;
			bottom:-4em;
			width:100%;
			right:0;
			text-align:center;

			-moz-transition: all 0.2s ease-in-out; 
		  -webkit-transition: all 0.2s ease-in-out;  
		  -ms-transition: all 0.2s ease-in-out;  
		  -o-transition: all 0.2s ease-in-out;  
		  transition: all 0.2s ease-in-out;
		}
	}

.top {
	h2 {
		float:left;
	}
}
.center {
	margin-top:1em;
	text-align:center;
}

.empty {
	clear:both;
	text-align:center;
	margin-top:12em;
	a {
		color:#fff;
	}
}
.gobig {
	margin-top:5em;
}

.notice, .alert {
	text-align:center;
	position:absolute;
	width:100%;
	left:0;
	color:$link;
	text-shadow:1px 1px rgba(0,0,0,0.8);
}

.settings {
	margin-top:2.5em;
	float:right;
	position:relative;
	z-index:100;

	> li {
		float:left;
		margin-left:1em;
		font-size:0.9em;
		line-height:0.8;
		position:relative;

		&:hover {
			button {
				background: #4bbfe5; /* Old browsers */
				background: -moz-linear-gradient(top,  #4bbfe5 0%, #2ba7d8 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4bbfe5), color-stop(100%,#2ba7d8)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #4bbfe5 0%,#2ba7d8 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #4bbfe5 0%,#2ba7d8 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #4bbfe5 0%,#2ba7d8 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #4bbfe5 0%,#2ba7d8 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bbfe5', endColorstr='#2ba7d8',GradientType=0 ); /* IE6-9 */
			}

		}

		.dropped {
			-webkit-border-radius:0.3em 0.3em 0 0;	
			-moz-border-radius:0.3em 0.3em 0 0;
			border-radius:0.3em 0.3em 0 0;
		}

		button {
			text-shadow:-1px -1px rgba(0, 0, 0, 0.1);
			padding:0.2em 0.5em 0.3em 0.5em;
			width:12em;
			text-align:left;

			.btext {
				float:left;
				padding:0.5em 0.8em 0 0.5em;
				white-space:nowrap;
			}

			.arrow {
				display:inline;
				float:right;

				padding:0.2em 0.5em;
			}
		}

		ul {
			position:absolute;
			width:100%;
			right:0;
			text-align:right;

			display:none;

			li {
				padding:0.5em;
				cursor:pointer;
				line-height:1.5;

				background: #4bbfe5; /* Old browsers */
				background: -moz-linear-gradient(top,  #4bbfe5 0%, #2ba7d8 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4bbfe5), color-stop(100%,#2ba7d8)); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  #4bbfe5 0%,#2ba7d8 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  #4bbfe5 0%,#2ba7d8 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  #4bbfe5 0%,#2ba7d8 100%); /* IE10+ */
				background: linear-gradient(to bottom,  #4bbfe5 0%,#2ba7d8 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4bbfe5', endColorstr='#2ba7d8',GradientType=0 ); /* IE6-9 */

				border-top:1px solid lighten($link, 10%);
				border-bottom:1px solid darken($link, 12%);


				&:last-child {
					-webkit-border-radius:0 0em 0.4em 0.4em;
					-moz-border-radius:0 0em 0.4em 0.4em;
					border-radius:0 0em 0.4em 0.4em;
				}

				&:hover {
					background: #ff5151; /* Old browsers */
					background: -moz-linear-gradient(top,  #ff5151 0%, #e53939 100%); /* FF3.6+ */
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff5151), color-stop(100%,#e53939)); /* Chrome,Safari4+ */
					background: -webkit-linear-gradient(top,  #ff5151 0%,#e53939 100%); /* Chrome10+,Safari5.1+ */
					background: -o-linear-gradient(top,  #ff5151 0%,#e53939 100%); /* Opera 11.10+ */
					background: -ms-linear-gradient(top,  #ff5151 0%,#e53939 100%); /* IE10+ */
					background: linear-gradient(to bottom,  #ff5151 0%,#e53939 100%); /* W3C */
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5151', endColorstr='#e53939',GradientType=0 ); /* IE6-9 */

					border-top:1px solid lighten($secondary, 10%);
					border-bottom:1px solid darken($secondary, 12%);
				}

				a {
					display:block;
					width:100%;
					height:100%;
					color:#fff;
				}
			}
		}
	}
}

form {
	margin:0 auto;
	input[type=text],
	input[type=email],
	input[type=password] {
		display:block;
		margin:0 auto;
		border-bottom:1px solid $primaryBg;

		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius:0;

		&:first-of-type {
			-webkit-border-radius:0.3em 0.3em 0 0;
			-moz-border-radius:0.3em 0.3em 0 0;
			border-radius:0.3em 0.3em 0 0;
		}
		&:last-of-type {
			-webkit-border-radius:0 0 0.3em 0.3em;
			-moz-border-radius:0 0 0.3em 0.3em;
			border-radius:0 0 0.3em 0.3em;
			margin-bottom:1em;
		}
	}

	div {
		text-align:center;
	}
}

input, textarea, button, .claim {
	border:none;
	background: $inputBg;
	padding:0.6em;

	-webkit-border-radius:0.3em;
	-moz-border-radius:0.3em;
	border-radius:0.3em;

	-webkit-box-shadow:inset 0 0px 6px rgba(0,0,0,0.4);
	-moz-box-shadow:inset 0 0px 6px rgba(0,0,0,0.4);
	box-shadow:inset 0 0px 6px rgba(0,0,0,0.4);

  font-family: 'Gibson', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
}
	input { margin-bottom: 0.5em; }
	input[type=submit], button, .claim {
		border: 1px solid darken( $link, 10% );
		color:#fff;

		&:hover {
			background: #47b8e5; /* Old browsers */
			background: -moz-linear-gradient(top,  #47b8e5 0%, #289dcc 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#47b8e5), color-stop(100%,#289dcc)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #47b8e5 0%,#289dcc 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #47b8e5 0%,#289dcc 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #47b8e5 0%,#289dcc 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #47b8e5 0%,#289dcc 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#47b8e5', endColorstr='#289dcc',GradientType=0 ); /* IE6-9 */
		};

		-webkit-box-shadow:inset 1px 1px rgba(255,255,255,0.2), inset -1px -1px rgba(0,0,0,0.1);
		-moz-box-shadow:inset 1px 1px rgba(255,255,255,0.2), inset -1px -1px rgba(0,0,0,0.1);
		box-shadow:inset 1px 1px rgba(255,255,255,0.2), inset -1px -1px rgba(0,0,0,0.1);

		background: #49c0f0; /* Old browsers */
		background: -moz-linear-gradient(top,  #49c0f0 0%, #2cafe3 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49c0f0), color-stop(100%,#2cafe3)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #49c0f0 0%,#2cafe3 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 ); /* IE6-9 */

		-moz-transition: all 0.2s ease-in-out; 
	  -webkit-transition: all 0.2s ease-in-out;  
	  -ms-transition: all 0.2s ease-in-out;  
	  -o-transition: all 0.2s ease-in-out;  
	  transition: all 0.2s ease-in-out;
	}

	.signin, .signup {
		text-align:center;
		margin-top:1em;
		> div {
			position:relative;
			display:inline-block;
		}
		img {
			position:absolute;
			right:3em;
			top:0.8em;
			opacity:0;

			-moz-transition: all 0.2s ease-in-out; 
		  -webkit-transition: all 0.2s ease-in-out;  
		  -ms-transition: all 0.2s ease-in-out;  
		  -o-transition: all 0.2s ease-in-out;  
		  transition: all 0.2s ease-in-out;
		}

		&:hover {
			img {
				right:0.5em;
				opacity:1;
			}
			input {
				padding-right:1.5em;
			}
		}
	}

/* ===================================
   Bounties
   =================================== */

.bounties {
	max-width:960px;
	margin:2em auto 0 auto;
	padding:0;
	clear:both;

	color:#30313e;
	cursor:pointer;

	a {
		&:first-child {
			li {
				border-top:none;
				-webkit-border-radius:0.4em 0.4em 0 0;
				-moz-border-radius:0.4em 0.4em 0 0;
				border-radius:0.4em 0.4em 0 0;
			}
		}
		&:last-child {
			li {
				border-bottom:none;
				-webkit-border-radius:0 0 0.4em 0.4em;
				-moz-border-radius:0 0 0.4em 0.4em;
				border-radius:0 0 0.4em 0.4em;
			}
		}
	}
}
	.bounties li {
		padding:1em 1.5em;
		border-top:1px solid #fff;
		border-bottom:1px solid #888;
		cursor:pointer;
		overflow:hidden;
		position:relative;

		background: #ffffff; /* Old browsers */
		background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
		background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */	

		.status {
			float:right;
			margin-right:4em;
			margin-top:0.8em;
			color:#fff;
			font-size:0.8em;
			text-transform:uppercase;
			padding:0.2em 0.5em 0.1em 0.5em;
			-webkit-border-radius:0.2em;
			-moz-border-radius:0.2em;
			border-radius:0.2em;

			-webkit-box-shadow:inset 1px 1px rgba(255,255,255,0.2), inset -1px -1px rgba(0,0,0,0.1);
			-moz-box-shadow:inset 1px 1px rgba(255,255,255,0.2), inset -1px -1px rgba(0,0,0,0.1);
			box-shadow:inset 1px 1px rgba(255,255,255,0.2), inset -1px -1px rgba(0,0,0,0.1);
		}

		.unclaimed {
			background:$secondary;
			border:1px solid darken($secondary, 10%);
		}
		.completed {
			background:$link;
			border:1px solid darken($link, 10%);
		}
		.claimed {
			padding:0;

			-webkit-box-shadow:none;
			-moz-box-shadow:none;
			box-shadow:none;
			width:7em;

			.progress-bar {
				height:1em;
				margin-top:0.5em;

				.progress {
					-webkit-box-shadow:none;
					-moz-box-shadow:none;
					box-shadow:none;
				}
			}
		}

	  &:hover {
	  	color:#fff;
			text-shadow:-1px -1px rgba(0,0,0,0.1);
	  	border-top:1px solid lighten($link, 16%);
	  	border-bottom:1px solid darken($link, 12%);

	  	background: #49c0f0; /* Old browsers */
			background: -moz-linear-gradient(top,  #49c0f0 0%, #2cafe3 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#49c0f0), color-stop(100%,#2cafe3)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #49c0f0 0%,#2cafe3 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #49c0f0 0%,#2cafe3 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#2cafe3',GradientType=0 ); /* IE6-9 */

			a {
				color:#fff;
			}
			.arrow {
				display:inline;
				float:none;
				position:absolute;
				right:1em;
				top:1em;
			}
			.details {
				text-shadow:-1px -1px rgba(0,0,0,0.1);
				.deadline {
					color:#fff;
				}
			}
	  };


	}
	.details {
		float:left;
		text-shadow:1px 1px rgba(255,255,255,1);
		width:70%;

		.deadline {
			color:#888;

			b {
				color:$secondary;
			}
		}
	}
	.arrow {
		display:none;
		float:right;
		color:#fff;
		font-weight:bold;
		padding:0.3em 0.6em;
		border:1px solid darken(#49c0f0, 6%);
		border-right:1px solid lighten(#49c0f0, 3%);
		border-bottom:1px solid lighten(#49c0f0, 3%);

		margin-top:0.4em;

		text-shadow:-1px -1px 0 rgba(0,0,0,0.1);

		-webkit-border-radius:10em;
		-moz-border-radius:10em;
		border-radius:10em;

		-webkit-box-shadow:inset 1px 1px 4px rgba(0,0,0,0.2);
		-moz-box-shadow:inset 1px 1px 4px rgba(0,0,0,0.2);
		box-shadow:inset 1px 1px 4px rgba(0,0,0,0.2);

		background: #49c0f0; /* Old browsers */
		background: -moz-radial-gradient(center, ellipse cover, #49c0f0 0%, #289dcc 100%); /* FF3.6+ */
		background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#49c0f0), color-stop(100%,#289dcc)); /* Chrome,Safari4+ */
		background: -webkit-radial-gradient(center, ellipse cover, #49c0f0 0%,#289dcc 100%); /* Chrome10+,Safari5.1+ */
		background: -o-radial-gradient(center, ellipse cover, #49c0f0 0%,#289dcc 100%); /* Opera 12+ */
		background: -ms-radial-gradient(center, ellipse cover, #49c0f0 0%,#289dcc 100%); /* IE10+ */
		background: radial-gradient(ellipse at center, #49c0f0 0%,#289dcc 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49c0f0', endColorstr='#289dcc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}

.info section > div,
.info > div,
.user-bounties > div {
	border:1px solid #888;
	padding:1em 1em;
	color:$primaryBg;

	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
}

.info {

	h3 {
		margin-bottom:0.2em;
	}

	section > div {
		width:50%;
		float:left;
		border-bottom:none;
		position:relative;

		&:first-of-type {
			width:60%;
		}
		&:last-of-type {
			border-left:none;
			width:40%;
		}
	}

	> section {
		clear:both;
		border-top:none;

		&:nth-of-type(2) {
			border-top:0;
			border-bottom:0;

			> div {
				&:first-of-type {
					-webkit-border-radius:0.4em 0 0 0;
					-moz-border-radius:0.4em 0 0 0;
					border-radius:0.4em 0 0 0;
				}
				&:last-of-type {
					-webkit-border-radius:0 0.4em 0 0;
					-moz-border-radius:0 0.4em 0 0;
					border-radius: 0 0.4em 0 0;
				}
			}
		}
	}

	h2 {
		color:$secondary;
		text-shadow:1px 1px $link;
	}

	.cta {
		text-align:center;

		-webkit-border-radius:0 0 0.4em 0.4em;
		-moz-border-radius:0 0 0.4em 0.4em;
		border-radius:0 0 0.4em 0.4em;
		border-top:none;

		.claim {
			display:block;
			color:#fff;
			width:100%;
			font-weight:bold;
			text-shadow:-1px -1px rgba(0,0,0,0.1);
			text-transform:uppercase;
		}
	}

	.claimedby {
		clear:both;
		border-bottom:none;
	}

	.description {
		font-size:1.2em;
		padding:2em 1em;
		border-bottom:none;
		clear:both;
	}
}

.thecreator {
	float:right;
	margin:0 0 1em 0;
	color:lighten($primaryBg, 50%);
}

.voting {
	position:absolute;
	right:1em;
	top:1em;
	height:50px;

	.up, .down {
		position:absolute;
		right:0;
		height:22px;
		width:22px;

		.tooltip {
			position:absolute;
			left:30px;
			background:$link;
			color:#fff;
			padding:0.3em 1em 0.2em 1em;
			white-space:nowrap;
			top:-0.1em;
			font-size:0.9em;

			-webkit-box-shadow:1px 1px 4px rgba(0,0,0,0.6);
			-moz-box-shadow:1px 1px 4px rgba(0,0,0,0.6);
			box-shadow:1px 1px 4px rgba(0,0,0,0.6);

			display:none;
		}

		&:hover {
			.tooltip {
				display:block;
			}
		}

		img {
			display:block;
			position:absolute;
			left:0;
			top:0;
			height:22px;
			width:22px;
		}

		&:first-child {
			top:0;
		}
		&:last-child {
			bottom:0;
		}
	}
}

.manage-bounty {
	text-align:center;
	margin-top:0.6em;
	font-size:0.8em;
}

#new_bounty, #edit_user, #edit_bounty {
	div {
		text-align:left;
		margin-bottom:1em;

		input {
			margin:0;
		}
	}
}

.claimers {
	margin:0.5em 0;
	overflow:hidden;
	text-shadow:1px 1px #fff;

	li {
		float:left;
		margin-right:0.5em;

		&:after { content:", " ;}
		&:last-child {
			&:after { content:"" ;}
		}
	}
}

.updated {
	float:right;
	font-size:0.7em;
	display:none;
	color:$secondary;
}

.progress-display {
	h6 {
		float:left;
	}
}

.progress-bar {
	width:100%;
	height:2em;
	position:relative;
	clear:both;
	background:$primaryBg;

	-webkit-box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0.6);
	box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0.6);

	-webkit-border-radius:0.2em;
	-moz-border-radius:0.2em;
	border-radius:0.2em;

	.progress {
		position:absolute;
		left:0;
		height:100%;

		-webkit-box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0.4);
		-moz-box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0.4);
		box-shadow:inset 1px 1px 4px rgba(0, 0, 0, 0.4);

		-webkit-border-radius:0.2em 0 0 0.2em;
		-moz-border-radius:0.2em 0 0 0.2em;
		border-radius:0.2em 0 0 0.2em;

		background: #ff4444; /* Old browsers */
		background: -moz-linear-gradient(top,  #ff4444 0%, #ff261e 61%, #cc1818 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff4444), color-stop(61%,#ff261e), color-stop(100%,#cc1818)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ff4444 0%,#ff261e 61%,#cc1818 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ff4444 0%,#ff261e 61%,#cc1818 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ff4444 0%,#ff261e 61%,#cc1818 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ff4444 0%,#ff261e 61%,#cc1818 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff4444', endColorstr='#cc1818',GradientType=0 ); /* IE6-9 */


	}

	#progress-slider {
		width:100%;
		background:none;
		border:none;
		height:0;

		.ui-slider-handle {
			margin-top: 0.4em;
			top:0;

			background: #ffffff; /* Old browsers */
			background: -moz-linear-gradient(top, #ffffff 0%, #e5e5e5 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e5e5e5)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top, #ffffff 0%,#e5e5e5 100%); /* IE10+ */
			background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-9 */
		}
	}
}

.ui-slider .ui-slider-handle {
	position:absolute;
	z-index:2;
	width:1.2em;
	height:1.2em;
	cursor:move;
	margin-left: -.6em;

	-webkit-border-radius:0.2em;
	-moz-border-radius:0.2em;
	border-radius:0.2em;

	border:1px solid #aaa;
}

/* ===================================
   User
   =================================== */

.user-bounties {
	h3 {
		font-size:1.4em;
	}

	> div {
		float:left;
		width:50%;
		padding:2em 2em 3em 2em;
		text-shadow:1px 1px #fff;

		&:first-child {
			border-right:1px solid $primaryBg;

			-webkit-border-radius:0.4em 0 0 0.4em;
			-moz-border-radius:0.4em 0 0 0.4em;
			border-radius:0.4em 0 0 0.4em;
		}
		&:last-child {
			-webkit-border-radius:0 0.4em 0.4em 0;
			-moz-border-radius:0 0.4em 0.4em 0;
			border-radius:0 0.4em 0.4em 0;
		}
	}
	h2 {
		font-family: 'Gibson', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
		font-size:1.2em;
		text-align:left;
		color:$secondary;
		text-shadow:1px 1px #fff;
	}
}

.cancel {
	margin-top:2em;
	text-align:center;
}

/* ===================================
   Fonts
   =================================== */

/*
 * The fonts included are copyrighted by the vendor listed below.
 *
 * Vendor:      Canada Type
 * License URL: http://www.fontspring.com/fflicense/canada-type
 *
 *
 */

@font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Light-webfont.eot');
    src: url('/fonts/Gibson-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-Light-webfont.woff') format('woff'),
         url('/fonts/Gibson-Light-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-Light-webfont.svg#GibsonLight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-SemiBold-webfont.eot');
    src: url('/fonts/Gibson-SemiBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-SemiBold-webfont.woff') format('woff'),
         url('/fonts/Gibson-SemiBold-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-SemiBold-webfont.svg#Gibson') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Regular-webfont.eot');
    src: url('/fonts/Gibson-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-Regular-webfont.woff') format('woff'),
         url('/fonts/Gibson-Regular-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-Regular-webfont.svg#Gibson') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gibson';
    src: url('/fonts/Gibson-Italic-webfont.eot');
    src: url('/fonts/Gibson-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Gibson-Italic-webfont.woff') format('woff'),
         url('/fonts/Gibson-Italic-webfont.ttf') format('truetype'),
         url('/fonts/Gibson-Italic-webfont.svg#Gibson') format('svg');
    font-weight: normal;
    font-style: italic;
}

/*
Font: 		Comalle
Style: 		Regular
URL: 		http://www.youworkforthem.com/product.php?sku=T3145
Foundry: 	LatinoType
Foundry: 	http://www.youworkforthem.com/designer/220/latinotype
Copyright:	Copyright (c) 2007 by Juan Pablo De Gregorio, Letritas. All rights reserved.
Version: 	1.1
Created:	August 01, 2012
License: 	http://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
	font-family: 'Comalle';
	src: url('/fonts/comalle.eot');
	src: url('/fonts/comalle.eot?#iefix') format('embedded-opentype'),
	     url('/fonts/comalle.woff') format('woff'),
	     url('/fonts/comalle.ttf') format('truetype'),
	     url('/fonts/comalle.svg#ywftsvg') format('svg');
	font-weight: bold;
	font-style: normal;
}






/* =============================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 860px) {
	header {
		padding:0;
		h1 {
			float:none;
			padding:1em;
			text-align:center;
		}
		.search {
			position:relative;
			float:left;
			right:auto;
			margin:0 0 0.5em 0.5em;

			input, button {
				margin-bottom:0;
				padding:0.9em;

				-webkit-border-radius:0;
				-moz-border-radius:0;
				border-radius:0;
			}
		}
		.nav {
			position:absolute;
			float:right;
			margin-right:0;
		}
	}
}

@media only screen and (max-width:680px) {
	.bounties li {
		-webkit-border-radius:0 !important;
		-moz-border-radius:0 !important;
		border-radius:0 !important;
	}
	.bounties li .claimed .progress-bar { margin-top:0; }
}

@media only screen and (max-width: 600px) {
	header {
		padding-bottom:4em;

		.search {
			float:none;
			width:100%;
			text-align:center;
			margin:0;
		}

	}

	form {
		padding:1em;
	}

	.top h2 {
		float:none;
	}
	.settings {
		float:none;
		margin-bottom:2em;
		text-align:center;

		> li {
			float:none;
			display:inline-block;
			margin:0 0.5em;
		}
	}

	.bounties li .status { float:left; }
	.info-top {
		padding:1em;
	}

	.voting {
		.up, .down {
			&:hover {
				.tooltip {
					display:none;
				}
			}
		}
	}
}

/* =============================================================================
   Non-Semantic Helper Classes
   ========================================================================== */

.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; *line-height: 0; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

/* =============================================================================
   Print Styles
   ========================================================================== */
 
@media print {
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: h5bp.com/s */
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
